body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  align-self: center;
}

.new-message {
  align-self: center;
  font-family: inherit;
  width: 300px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: antiquewhite;
  border: 2px solid black;
}

.message-board {
  align-self: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: clamp(300px, 90%, 800px);
}

.message-header {
  display: flex;
  gap: 15px;
}

.message-header div:last-child {
  font-size: 0.8rem;
  color: rgb(94, 94, 94);
}

.message {
  border-left: 8px solid cornflowerblue;
  padding-left: 20px;
}

.new-message-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.inputs {
  display: flex;
  gap: 30px;
}

label {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.input {
  width: 200px;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: lightgray;
  border: none;
}
